---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Privacy Policy">
    <main class="container py-12">
        <div class="prose dark:prose-invert max-w-none">
            <h1>Privacy Policy</h1>
            <p>
                This is a placeholder for the Privacy Policy.
            </p>
        </div>
    </main>
</Layout>