---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Terms of Service">
    <main class="container py-12">
        <div class="prose dark:prose-invert max-w-none">
            <h1>Terms of Service</h1>
            <p>
                This is a placeholder for the Terms of Service.
            </p>
        </div>
    </main>
</Layout>