[Unit]
Description=OpenGuard Discord Bot
After=network.target

[Service]
User=discordbot
Group=discordbot
WorkingDirectory=/home/discordbot/openguard

ExecStart=/home/discordbot/openguard/.venv/bin/python -u bot.py

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
