---
import Layout from '@/layouts/Layout.astro';
import { Badge } from '@/components/ui/badge.tsx';
import { format } from 'date-fns';

import BlogPost from '@/components/blog/BlogPost.tsx';

const { slug } = Astro.params;
---

<Layout title={post.title}>
    <main class="container py-12">
        <BlogPost slug={slug} client:load />
    </main>
</Layout>