---
import Layout from '@/layouts/Layout.astro';
import BlogPost from '@/components/blog/BlogPost.tsx';

const { slug } = Astro.params;
export const prerender = false;
---

<Layout
    title="OpenGuard Blog"
    description="Read the latest insights and updates from the OpenGuard blog."
>
    <main class="container py-12">
        <BlogPost slug={slug} client:load />
    </main>
</Layout>