---
import Layout from '@/layouts/Layout.astro';
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card.tsx';

import BlogIndex from '@/components/blog/BlogIndex.tsx';
---

<Layout
    title="OpenGuard Blog"
    description="Discover the latest news, updates, and tips from the OpenGuard team."
>
    <main class="container py-12">
        <h1 class="mb-8 text-4xl font-bold">Blog</h1>
        <BlogIndex client:load />
    </main>
</Layout>